<div class="flex items-center bg-<%= color %>-300 p-4 rounded w-full">
  <div class="flex-grow text-left  pl-5 text-[#03045e] text-bold rounded-[7px]  text-[1.2em]">
    <%= message %>
  </div>
</div>