<% const navLinkClass = "mx-8 lg:py-0 relative text-lg w-fit block after:block after:content-[''] text-[#03045e] after:absolute after:h-[3px] after:bg-[#03045e] after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-500 after:origin-center hover:duration-100 hover:ease-in hover:scale-105"; %>

<% const primaryButtonClass="relative py-1.5 font-medium text-2xl rounded-xl ease-in lg:px-10 md:px-6 px-6 text-white bg-blue-400 hover:bg-gradient-to-r hover:from-[#03045e] hover:to-blue-700 hover:duration-100 hover:ease-in hover:scale-105" %>

<% const secondaryButtonClass = "mx-5 relative py-1 font-medium text-xl rounded-xl ease-in lg:px-6 md:px-4 px-4 text-[#03045e]  hover:scale-110" %>

<nav class="fixed w-full z-20 top-0 left-0 ">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto py-3 px-4">
    <a href="/" class="flex items-center">
      <img src="/assets/logo.png" class="h-8 mr-3" alt="Logo">
      <span class="self-center text-2xl font-semibold whitespace-nowrap ">TaxWizard</span>
    </a>
    <button class="navbar-burger self-center mr-12 lg:hidden" onclick="toggleMobileNavMenu()">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
      </svg>
    </button>
    <div class="hidden md:flex md:order-2 nav-menu">
      <div class="flex flex-col justify-center">
        <div class="z-10">
          <button type="button" class="<%= navLinkClass %>">
            Register
          </button>
        </div>
      </div>
      <div class="flex flex-col justify-end">
        <div class="z-10">
          <button type="button" class="<%= primaryButtonClass %>">
            Login
          </button>
        </div>
      </div>
    </div>
  </div>
  
</nav>
<script>
  function toggleMobileNavMenu() {
    const menu = document.querySelector(
      ".nav-menu"
    );
    menu.classList.toggle("flex");
    menu.classList.toggle("hidden");
  }
</script>