<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TaxWizard | Welcome</title>
  <link rel="icon" href="/assets/logo.png" type="image/png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script>
    fetch('/profile-information', {
        method: 'GET',
        headers: {
          'Authorization': `Bearer ${localStorage.getItem('token')}`, // Include the JWT token here
        },
      })
      .then((response) => {
        if (!response.ok) {
          throw new Error(`Request failed with status: ${response.status}`);
        }
        return response.json(); // Parse the response body as JSON
      })
      .then((data) => {
        document.getElementById('nid').innerText = data.nid;
        document.getElementById('full_name').innerText = data.full_name;
        document.getElementById('age').innerText = data.age;
        document.getElementById('gender').innerText = data.gender;
        document.getElementById('city_corporation').innerText = data.city_corporation;
      })
      .catch((error) => {
        console.error('Profile request failed:', error);
        window.location.href = "/";
      });
  </script>
</head>

<body>
  <%- include('../partials/user-sidebar.ejs') %>
  <% const primaryButtonClass="relative py-1.5 font-medium text-2xl rounded-xl ease-in lg:px-10 md:px-6 px-6 text-white bg-blue-400 hover:bg-gradient-to-r hover:from-[#03045e] hover:to-blue-700 hover:duration-100 hover:ease-in hover:scale-105" %>
  <% const inputFieldClass="rounded-lg block w-full p-4 text-lg bg-white text-[#03045e]" %>
  <% labelClass ="flex flex-start items-start uppercase text-[#03045e] text-xs font-bold mb-2" %>

  <div class="px-4  pt-24 backdrop-blur-lg bg-white/30 min-h-screen" style="background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.5)), url('https://images.unsplash.com/photo-1554224154-26032ffc0d07?auto=format&fit=crop&q=80&w=1426&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')">
    <div class="p-4 rounded-lg ">
      <div class="grid grid-cols-1 gap-4 mb-4">
        <div class=" col-span-1 grid grid-cols-1">
          <%- include('../partials/home-cards.ejs', {
              cardImageUrl: 'https://images.unsplash.com/photo-1534951009808-766178b47a4f?auto=format&fit=crop&q=80&w=1470&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
              cardTitle: 'Your One-hover:bg-[#caf0f8] bg-[#caf0f8]/60Stop Solution For Tax',
              cardLink: '/report',
          }) %>
        </div>
        <section id="home" class="  bg-white mx-auto w-full rounded-xl shadow-xl border border-[#00b4d8]">
          <div class="p-4 border-b">
            <h2 class="text-2xl text-[#03045e] font-bold">User Information</h2>
          </div>
          <div>
            <div class="md:grid md:grid-cols-2 hover:bg-[#caf0f8] md:space-y-0 space-y-1 p-4 border-b">
              <p class="text-[#03045e] text-lg">Full name</p>
              <p id="full_name"></p>
            </div>
            <div class="md:grid md:grid-cols-2 hover:bg-[#caf0f8] md:space-y-0 space-y-1 p-4 border-b">
              <p class="text-[#03045e] text-lg">NID</p>
              <p id="nid"></p>
            </div>
            <div class="md:grid md:grid-cols-2 hover:bg-[#caf0f8] md:space-y-0 space-y-1 p-4 border-b">
              <p class="text-[#03045e] text-lg">Age</p>
              <p id="age"></p>
            </div>
            <div class="md:grid md:grid-cols-2 hover:bg-[#caf0f8] md:space-y-0 space-y-1 p-4 border-b">
              <p class="text-[#03045e] text-lg">Gender</p>
              <p id="gender"></p>
            </div>
            <div class="md:grid md:grid-cols-2 hover:bg-[#caf0f8] md:space-y-0 space-y-1 p-4 border-b">
              <p class="text-[#03045e] text-lg">City Corporation</p>
              <p id="city_corporation"></p>
            </div>
          </div>
      </div>      
    </div>
  </div>
  </div>

</body>

</html>