<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TaxWizard | Welcome</title>
  <link rel="icon" href="/assets/logo.png" type="image/png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script>
    fetch('/api/profile', {
        method: 'GET',
        headers: {
          'Authorization': `Bearer ${localStorage.getItem('token')}`, // Include the JWT token here
        },
      })
      .then((response) => {
        if (!response.ok) {
          throw new Error(`Request failed with status: ${response.status}`);
        }
        return response.json(); // Parse the response body as JSON
      })
      .then((data) => {
        document.getElementById('nid').innerText = data.nid;
        document.getElementById('full_name').innerText = data.full_name;
        document.getElementById('age').innerText = data.age;
        document.getElementById('gender').innerText = data.gender;
        document.getElementById('city_corporation').innerText = data.city_corporation;
      })
      .catch((error) => {
        console.error('Profile request failed:', error);
        window.location.href = "/";
      });
  </script>
</head>

<body>
  <%- include('../partials/user-sidebar.ejs') %>
  <% const primaryButtonClass="relative py-1.5 font-medium text-2xl rounded-xl ease-in lg:px-10 md:px-6 px-6 text-white bg-blue-400 hover:bg-gradient-to-r hover:from-[#03045e] hover:to-blue-700 hover:duration-100 hover:ease-in hover:scale-105" %>

  <div class="p-4 sm:ml-64">
    <div class="p-4 rounded-lg ">
      <div class="grid grid-cols-1 gap-4 mb-4">
        <!-- start of cards  -->

        <div class=" col-span-1 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-6">
          <%- include('../partials/home-cards.ejs', {
                cardImageUrl: 'https://plus.unsplash.com/premium_photo-1678374803542-cc8aa0ae28b1?auto=format&fit=crop&q=80&w=1470&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
                cardTitle: 'Calculate Your Tax',
                cardLink: '/calculate',
            }) %>
          <%- include('../partials/home-cards.ejs', {
                cardImageUrl: 'https://images.unsplash.com/photo-1434626881859-194d67b2b86f?auto=format&fit=crop&q=80&w=1474&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
                cardTitle: 'Generate Tax Report',
                cardLink: '/report',
            }) %>
          <%- include('../partials/home-cards.ejs', {
                cardImageUrl: 'https://images.unsplash.com/photo-1585776245991-cf89dd7fc73a?auto=format&fit=crop&q=80&w=1470&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
                cardTitle: 'Update Your Profile',
                cardLink: '/profile',
            }) %>
        </div>
        <div class="max-w-5xl bg-white mx-auto w-full rounded-xl shadow-xl border border-[#00b4d8]">
          <div class="p-4 border-b">
            <h2 class="text-2xl text-[#03045e] font-bold">User Information</h2>
          </div>
          <div>
            <div class="md:grid md:grid-cols-2 hover:bg-gray-50 md:space-y-0 space-y-1 p-4 border-b">
              <p class="text-[#03045e] text-lg">Full name</p>
              <p id="full_name">user's name</p>
            </div>
            <div class="md:grid md:grid-cols-2 hover:bg-gray-50 md:space-y-0 space-y-1 p-4 border-b">
              <p class="text-[#03045e] text-lg">NID</p>
              <p id="nid">user's nid</p>
            </div>
            <div class="md:grid md:grid-cols-2 hover:bg-gray-50 md:space-y-0 space-y-1 p-4 border-b">
              <p class="text-[#03045e] text-lg">Age</p>
              <p id="age">user's age</p>
            </div>
            <div class="md:grid md:grid-cols-2 hover:bg-gray-50 md:space-y-0 space-y-1 p-4 border-b">
              <p class="text-[#03045e] text-lg">Gender</p>
              <p id="gender">user's gender</p>
            </div>
            <div class="md:grid md:grid-cols-2 hover:bg-gray-50 md:space-y-0 space-y-1 p-4 border-b">
              <p class="text-[#03045e] text-lg">City Corporation</p>
              <p id="city_corporation">user's citycorp</p>
            </div>
            <!-- <div class="md:grid md:grid-cols-2 hover:bg-gray-50 md:space-y-0 space-y-1 p-4 border-b">
              <p class="text-[#03045e] text-lg">Yearly Income</p>
              <p id="">user's yearly income</p>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>