<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TaxWizard | Tax Chart</title>
  <link rel="icon" href="/assets/logo.png" type="image/png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script>
    if(!localStorage.getItem('token')){
      window.location.href="/"
    }
    fetch('/chart', {
        method: 'GET',
        headers: {
          'Authorization': `Bearer ${localStorage.getItem('token')}`, // Include the JWT token here
        },
      })
      .then((response) => {
        if (!response.ok) {
          throw new Error(`Request failed with status: ${response.status}`);
        }
        return response.json(); // Parse the response body as JSON
      })
      .then((data) => {
        const years = data.map(item => item.year);
        const taxableAmounts = data.map(item => item.taxable_amount);
        const yearlyIncomes = data.map(item => item.yearly_amount);
        console.log(years)
        console.log(taxableAmounts)
        console.log(yearlyIncomes)

        const ctx = document.getElementById('chart');
        new Chart(ctx, {
          type: 'line',
          data: {
            labels: years,
            datasets: [{
                label: 'Taxable Amount',
                data: taxableAmounts,
                borderColor: 'rgba(75, 192, 192, 1)',
              },{
                label: 'Yearly Amount',
                data: yearlyIncomes,
                borderColor: 'rgba(0, 119, 183, 1)',
              },
            ]            
          },
          options: {
            scales: {
              y: {
                beginAtZero: false,
              },
            },
          },
        });
      })
      .catch((error) => {
        console.error('Chart request failed:', error);
      });
  </script>
</head>

<body>
  <%- include('../partials/user-sidebar.ejs') %>
  <div class="px-4  pt-24 backdrop-blur-lg bg-white/30 min-h-screen">
    <div class="p-4 rounded-lg ">
      <div class="grid grid-cols-1 gap-4 mb-4">
        <div class="col-span-1">
          <canvas class="max-h-[30em]" id="chart"></canvas>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>  
</body>

</html>